/* @font-face {
    font-family: 'Koulen';
    src: url('./Koulen-Regular.ttf');
    font-weight: 400;
    font-style: normal;
} */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Koulen&family=League+Spartan:wght@400;700&family=Leckerli+One&display=swap');

html, body{
    text-align: center;
    height: 100%;
    margin: 0;
    background-image: url("./background.jpg");
}

.boxShadow{
            /* offset-x | offset-y | blur-radius |      color */
    box-shadow: 0px        4px         4px         rgba(0, 0, 0, 0.25);
}

#navbar {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     padding: 0 10px; 
     overflow: hidden;

}

#logo{
    flex-shrink: 1;
    font-family: 'Koulen', cursive;
    font-size: 35px;
    box-sizing: border-box;
}

#rightContainer{
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

#rightContainer>li{
    list-style-type: none;
    font-family: 'League Spartan', sans-serif; 
    font-size: 20px;
    background-color: #D9D9D9;
    padding: 5px 15px;
    border: none;
    &:hover{
        background-color: #e6e6e6;
        cursor: pointer;
        text-decoration: underline;
    }
}

#content{
    margin: 0 170px;
}

.sectionHeader{
    font-size: 48px ;
    font-family: 'Koulen', cursive;
            /* offset-x | offset-y | blur-radius |      color */
    text-shadow: 0px        4px         4px         rgba(0, 0, 0, 0.25);
}

.card{
    height: 350px;
    background-color: #D9D9D9;
    border-radius: 50px ;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    overflow: hidden
}

.reverseOrder{
    flex-direction: row-reverse;
}

.picContainer{
    padding: 0;
    margin: 0;
    width: 50%;
    height: 100%;
}
.cardPic{
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;
}
.cardInfo{
    width: 50%;
}

.cardHeader{
    font-family: 'Koulen', cursive;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 20px;
}

.cardBody{
    font-family: 'League Spartan', sans-serif;
    margin: 0 65px; 
    line-height: 180%;
    text-align: justify;
}

.alignRight{
    font-family: 'League Spartan', sans-serif;
    text-align: end;
    margin: 0;
    margin-right: 25px;
}

.hours{
    text-align: center;
}

.address{
    font-weight: bold;
}

.menuSection{
    font-family: "Leckerli One";
    font-size: 64px;
               /* offset-x | offset-y | blur-radius |      color */
    text-shadow: -3px        2px         0px         rgba(223, 161, 0, 1);
    margin-top: 0;
    margin-bottom: 15px;
    text-align: start;
    text-decoration: underline;
    color: red; 

}

.menuItem{
    display: flex;
    justify-content: space-between;
}

.itemName {
    /*background-color: green;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 4px;
}

.itemName:after {
    content: " ........................................................................................................................................................................................................................................................................................."
}

.precio {
    /*background-color: red;*/
    flex-shrink: 0;
}

.sectionContainer{
    margin-bottom: 15px;
}
.menuText{
    color: rgba(255, 0, 0, 1);
    font-family: 'Bangers', cursive;
    font-size: 48px;
    letter-spacing: 5px;
            /* offset-x | offset-y | blur-radius |      color */
    text-shadow: -3px        2px         0px         rgba(223, 161, 0, 1);
}

.itemPrice::before{
    content: "$";
}

#contactContainer{
    /* background-color: blueviolet; */
}


#footer {
    background-color: #D9D9D9;
    color: black;
    margin-bottom: 0;
    padding: 15px;
    font-family: 'League Spartan', sans-serif; 
}

.footerLink{
    color: black;
    text-decoration: none;
    &:hover{
        color: rgb(46, 46, 46);
        text-decoration: underline;
    }
}